<div class="about-container">
    <div class="hero-image-about">
        <img src="../../../assets/about-us-2.jpg" alt="hero-image">
    </div>
    <p>Condor Gaming Group is a leading and innovative Casino and Sportsbook operator in the iGaming industry.</p>
    <p>With over 8 years of experience in the online gaming industry, 5 launched casino and sports brands and a 6th one on the way, with unique features presented on each brand, Condor Gaming is the perfect place for enthusiastic, hardworking and innovative
        people to build their career.</p>
    <p>Our live brands are: Big5 Casino, Rembrandt Casino, Casino Sieger, 24Bettle Casino and b-Bets Casino</p>
    <p>We are a dynamic, hard-working and ambitious company with plans to revolutionize the iGaming industry.</p>
    <div class="brands-abt">
        <div *ngFor="let brand of brands_abt" class="brands-abt-card">
            <img src="{{brand.img}}" alt="">
        </div>
    </div>
</div>