<div class="splash-screen-container" id="splash-screen-container" *ngIf="showSplash">

    <img src="assets/condor-gaming-logo.png" alt="Logo" class="spash-logo">

    <div class='loader loader4'>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>